/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=1d2753&c2=10192a&gt=l&gd=dtt
*/
  /* background: #1d2753;
  background: linear-gradient(180deg, #1d2753, #10192a); */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Py.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.block {
  /* width: 100%;
  min-height: 20rem;
  max-width: 25rem; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-align: center;
  width: 25rem;
  height: 37.5rem;
  color: black;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 20px;
}
.perkenalan {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto {
  text-align: center; /* Mengatur tata letak teks/video di tengah */
}

.foto video {
  width: 120px;
  height: 120px;
  object-fit: cover; /* Untuk menjaga aspek rasio video */
  border-radius: 50%; /* Untuk membuat video menjadi lingkaran */
}

.linkcontent {
  margin: 20px 10px;
  text-align: center;
}

.linkcontent p{
  font-size: 18px;
  font-weight: 600;
}
.icon {
  display: grid;
  justify-content: center;
}

.icon button {
  display: flex;
  height: 3rem;
  width: 20rem;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.36); */
}

.icon button:hover {
  background: rgba(165, 167, 167, 0.137);
}

.icon button i {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  /* display: flex; */
}
.icon button p {
  font-size: 1rem;
  padding-top: 0.5rem;
  /* display: flex; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.icon a {
  text-decoration: none;
}

.typing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 10rem;
  max-width: 10rem;
  /* width: 20rem ; */
  margin-top: 0.5rem;
}

.ig p {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text; /* Untuk browser berbasis WebKit seperti Chrome dan Safari */
  color: transparent; /* Mengubah warna teks ikon menjadi transparan */
}
.lk p {
  color: #0a66c2;
}
.fb p {
  color: #3b5998;
}
.code p {
  color: #047857;
}
.fa-instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  color: transparent; /* Mengubah warna teks ikon menjadi transparan */
}
.fa-linkedin {
  color: #0a66c2;
}
.fa-codepen {
  color: #047857;
}
.fa-facebook {
  color: #3b5998;
}

@media (max-width: 424px) {
  .block {
    width: 100%; /* responsive width */
    height: auto; /* responsive height */
    max-width: 22.5rem; /* responsive max width */
    min-height: 15rem; /* responsive min height */
    height: auto; /* responsive height */
    font-size: small;
  }
  .foto video {
    width: 100px;
    height: 100px;
  }
}
